@model SurveyMVC.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Survey.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survey.Title)
        </dd>

        <dt>
            Created by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survey.Admin.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionDetails)
        </dd>

        @if (Model.Survey.Responses.Count > 0)
            {
                <dt>Answer(s)</dt>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Employee</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Answers)
                        {
                        <tr>
                            <td>@item.Response.Employee.Email</td>
                            <td>@item.AnswerDetails</td>
                        </tr>
                        }
                    </tbody>
                </table>
        }

    </dl>
</div>
<p>
    @if (Model.Survey.Responses.Count == 0)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })<span> |</span>
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>
