@model IEnumerable<SurveyMVC.Models.Survey>

@{
    ViewBag.Title = "Surveys";
}

<style>
    .survey-index-container {
        margin-top: 40px;
    }

    h2 {
        font-size: 28px;
        font-weight: bold;
        color: #2c3e50;
        margin-bottom: 30px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #fff;
    }

    th, td {
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        vertical-align: middle;
    }

    th {
        background-color: #007bff;
        color: white;
        font-weight: 600;

    }

    .table-actions a {
        margin-right: 8px;
        text-decoration: none;
        font-weight: 500;
    }

    .action-edit {
        color: #007bff;
    }

    .action-details {
        color: #28a745;
    }

    .action-delete {
        color: #dc3545;
    }

    .no-surveys {
        color: #888;
        font-style: italic;
        margin-top: 15px;
    }
</style>

<div class="survey-index-container">
    <h2>All Surveys</h2>

<p>
    @if (this.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Admin.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Number of Questions
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @item.Questions.Count
        </td>
        <td>
            @if (this.User.IsInRole("Admin"))
            {
                if (item.Responses.Count == 0 && item.Questions.Count > 0)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span> |</span>
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                if (item.Responses.Count == 0)
                {
                    <span> |</span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            }
            else
            {
                if (item.Questions.Count > 0)
                {
                    @Html.ActionLink("Respond", "Respond", new { surveyId = item.Id })
                }
            }
        </td>
    </tr>
}

</table>
